Source: task-termserv
Section: admin
Priority: optional
Maintainer: Georg Baum <gbaum@users.sourceforge.net>
Standards-Version: 3.1.1

Package: task-termserv
Architecture: all
Depends: lts-core, lts-webmin, termserv-doc
Description: Task package for the GNU/Linux Terminalserver for schools
 This package is a metapackage and does not contain anything. Instead, it
 depends on all the packages which are needed to set up the Terminalserver.
 This makes it easyer for you to select the right packages: Just install
 this package, and all the Terminalserver packages will be selected and
 installed automatically, too.
