#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. 
# GNU copyright 1997 by Joey Hess.
#
# This version is for a hypothetical package that builds an
# architecture-dependant package, as well as an architecture-independent
# package.

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=2

export PACKAGE=task-termserv

# This has to be exported to make some magic below work.
export DH_OPTIONS

configure: debian/configure-stamp
debian/configure-stamp:
	dh_testdir
# Add here commands to configure the package.
	touch debian/configure-stamp

build: debian/configure-stamp debian/build-stamp
debian/build-stamp:
	dh_testdir

# Add here commands to compile the package.
#	$(MAKE)

	touch debian/build-stamp

clean:
# Make the clean target work on non-debian machines, because the source
# package depends on it. If we are not on a debian machine,
# nothing here can be built except the stamp files.
	if test -f /etc/debian_version; then dh_testdir; fi
	if test -f /etc/debian_version; then dh_testroot; fi
	rm -f debian/build-stamp debian/configure-stamp

# Add here commands to clean up after the build process.
#	-$(MAKE) clean

	if test -f /etc/debian_version; then dh_clean; fi


install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

# Add here commands to install the package into debian/tmp.
#	$(MAKE) install DESTDIR=`pwd`/debian/$(PACKAGE)
#	dh_movefiles

# Build architecture-independent files here.
# Pass -i to all debhelper commands in this target to reduce clutter.
binary-indep: DH_OPTIONS=-i
binary-indep: build install
# Need this version of debhelper for DH_OPTIONS to work. (INDEP)
	dh_testversion 1.1.17
	dh_testdir
	dh_testroot
#	dh_installdebconf
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installemacsen
#	dh_installpam
#	dh_installinit
#	dh_installcron
#	dh_installmanpages
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs 
	dh_link
	dh_compress
	dh_fixperms
# You may want to make some executables suid here.
#	dh_suidregister
	dh_installdeb
	dh_perl
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
# Pass -a to all debhelper commands in this target to reduce clutter.
binary-arch: DH_OPTIONS=-a
binary-arch: build install
#	# Need this version of debhelper for DH_OPTIONS to work.
#	dh_testversion 1.1.17
#	dh_testdir
#	dh_testroot
##	dh_installdebconf
#	dh_installdocs
#	dh_installexamples
#	dh_installmenu
##	dh_installemacsen
##	dh_installpam
#	dh_installinit
#	dh_installcron
##	dh_installmanpages
#	dh_installinfo
##	dh_undocumented
#	dh_installchangelogs 
#	dh_strip
#	dh_link
#	dh_compress
#	dh_fixperms
## You may want to make some executables suid here.
#	dh_suidregister
#	dh_installdeb
##	dh_makeshlibs
#	dh_perl
##	dh_shlibdeps
#	dh_gencontrol
#	dh_md5sums
#	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
