Source: ltsp-x-core-i386
Section: non-free/net
Priority: optional
Maintainer: Georg Baum <gbaum@users.sourceforge.net>
Standards-Version: 3.5.6.0
Build-Depends: cpio, findutils, debhelper

Package: ltsp-x-core-i386
Architecture: all
Depends: ltsp-core-i386 (>= 3.0.0)
Suggests: ltsp-x-fonts-i386
Provides: ltsp-x-xserver-i386
Description: XFree86 for the Linux Terminal Server Project (ltsp.org)
 This package contains the supporting files for runnig X on an
 LTSP workstation, that means running it in graphical mode.
