Source: ltsp-webmin
Section: admin
Priority: optional
Maintainer: Georg Baum <gbaum@users.sourceforge.net>
Standards-Version: 3.1.1

Package: ltsp-webmin
Architecture: all
Depends: ${perl:Depends}, webmin
Description: Webmin module for the Linux Terminalserver Project
 This package contains a webmin module for the configuration of diskless
 workstations setup with the Linux Terminalserver Project (LTSP) package.
 It manages the central configuration file of LTSP, lts.conf. However, it
 does not manage the needed services on your server, use the standard
 webmin modules for this task.
